{% load static wagtailuserbar %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    {% load custom_tags %}

    {% load wagtailcore_tags %}

    <body>
        {% wagtailuserbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Хородея</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link {% active каузи %}" href="/каузи/">Каузи</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% active бизнеси %}" href="/бизнеси/">Бизнеси</a>
              </li>
            </ul>

				</div>

            <span class="float-right">
              {% if user.is_authenticated %}
                <span class="navbar-text">
                  Здравей, {{user.first_name}}
                </span>
                  <a class="{% active account %}" href="{% url 'account' %}">Профил</a>
                  <a class="{% active logout %}" href="{% url 'account_logout' %}">Излез</a>
              {% else %}
                  <a class="{% active login %}" href="{% url 'account_login' %}">Влез</a>

                  <a class="{% active register %}" href="{% url 'account_signup' %}">Регистрация</a>
              {% endif %}
            </span>
            <div class="clearfix"></div>
        </nav>

        <div class="container mt-4">
					{% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
