{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load i18n %}
{% load activity_tags %}

{% block content %}
{% block breadcrumbs_container %}
{% endblock %}

<div class="row mt-4">
  <div class="col-3">
    <ul class="list-group list-group-flush sticky-top" style="top:4rem">
      <li class="list-group-item">
        <a href="#{{page.slug}}">{{ page.title }}</a>
        <ul class="list-group list-group-flush">
        {% for page in self.get_children %}
          <li class="list-group-item">
            <a href="#{{page.slug}}">{{page.title}}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-9">
    <h3 id="{{page.slug}}"> {{page.title}} </h3>
    {% include_block page.body %}
    {% for page in self.get_children.specific %}
      <h4 id="{{page.slug}}"> {{page.title}} </h4>
      {% include_block page.body %}
    {% endfor %}
  </div>
</div>

{% endblock %}
