{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Account" %}</li>
{% endblock %}

{% block admin_tools %}
  <a class="nav-link text-white" href="{% url 'projects:user_photo_update' user.id %}">{% trans "Update photo" %}</a>
  <li class="nav-item">
    <a class="nav-link text-white" href="{{ oidc_user_account }}">{% trans 'Update in Living Network' %}</a>
  </li>

{% endblock %}

{% block content %}

{% if object == user %}
  {{ block.super }}
{% endif %}

  <div class="card mt-3 mx-auto" style="max-width: 720px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if object.photo %}
        <img class="card-img" src="{{ object.photo.get_profile_url }}" alt="{{user.first_name}}"></img>
      {% else %}
        <a href="{% url 'projects:user_photo_update' user.id %}">{% trans "Add photo" %}</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ object.first_name }} {{ object.last_name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        {%comment%}<li class="list-group-item"> {% trans "Rating" %}: {{ object.bal }}</li>{%endcomment%}
        <li class="list-group-item">
          {% trans "Communities" %}:
          {% for community in object.communities.all %}
            <a class="" href="{% url 'projects:community_details' community.pk %}">{{ community }}</a>
            {% if not forloop.last %}
            |
            {% endif %}
          {% empty %}
          Няма юридическо лице
          {% endfor %}
        </li>
        <li class="list-group-item">
          {% blocktrans with count=object.timesupport_set.count %}
          Donated {{count}} times.
          {% endblocktrans %}
          <a href="{% url 'projects:user_support_list' object.pk 'time' %}"> {% trans 'See all' %} </a>
        </li>
        <li class="list-group-item">
          {% blocktrans with count=object.moneysupport_set.count %}
          Volunteered {{count}} times.
          {% endblocktrans %}
          <a href="{% url 'projects:user_support_list' object.pk 'time' %}"> {% trans 'See all' %} </a>
        </li>

      {% comment %}
      <li class="list-group-item">
        {% blocktrans with votes=object.total_votes_count%}
        Voted {{votes}} times.
        {% endblocktrans %}
        <a href="{% url 'projects:user_vote_list' object.pk %}"> {% trans 'See all' %} </a>
      </li>
      {% endcomment %}
    </ul>
  </div>
</div>
{% endblock %}
