{% extends "base.html" %} {% load wagtailcore_tags %} {% load i18n %} 
{% load activity_tags %} {% block jumbotron %}
<div class="jumbotron jumbotron-fluid paral jumbotron-bg-cover"></div>
{% endblock %}
{% block content %}
  {% block breadcrumbs_container %}
  {% endblock %}
  <div class="body">
	<div class="row mt-4">
     
        {% for block in page.body %}
        {% if block.block_type == 'text' %}
        <div class="row mb-3 mt-3 justify-content-center p-4">
          <div class="col-md-8 pl-4"> <p>{{ block.value }}</p></div>
        </div>
        {% else %}
      </div>
        {% include_block block %}
        {% endif %}
        {% endfor %}
      
    </div>
      {% for activity in timeline %}
      <div class='row justify-content-center mt-5'>
        <div class="col-md-8">
          {% render_activity activity %}
          </div>
        </div>
        {% empty %}
          <p class="text-center">{% trans 'Nothing happened recently' %}</p>
        {% endfor %}
    

</div>    {% endblock %}