beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.8
django-anymail==7.0.0
django-autocomplete-light==3.5.0
django-bootstrap4==1.0.1
django-debug-toolbar==2.1
django-modelcluster==5.0
django-taggit==1.2.0
django-tempus-dominus==5.1.2.9
django-treebeard==4.3
django-vote==2.1.7
djangorestframework==3.10.3
draftjs-exporter==2.1.7
html5lib==1.0.1
idna==2.8
oauthlib==3.1.0
Pillow==6.2.1
psycopg2-binary==2.8.4
pycryptodomex==3.9.4
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
rules==2.1
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
stream-django==1.6.1
stream-python==3.1.1
Unidecode==1.1.1
urllib3==1.25.7
wagtail==2.7
webencodings==0.5.1
Willow==1.3
PyYAML==5.2
## The following requirements were added by pip freeze:
django-photologue==3.11
django-sortedm2m==3.0.0
ExifRead==2.1.2
django-model-utils==4.0.0
boto3==1.11.5
botocore==1.14.5
django-storages==1.9.1
## The following requirements were added by pip freeze:
mozilla-django-oidc==1.2.3
