{% load static %} 
{% load wagtailcore_tags %}
{% comment %} <div class="row d-flex justify-content-center">
  <div class="col-12 col-sm-8 col-md-8 col-lg-4">
    <div class="card mb-3 ml-auto mr-auto" style="width: 16rem;">
      <img
        class="card-img img-fluid"
        src="holder.js/250x300"
        alt="Card image"
      />
      <div class="card-img-overlay d-flex flex-column justify-content-center">
        <h5 class="card-title">{{ value.heading1 }}</h5>
        <p class="card-text align-self-center">{{ value.text1 }}</p>
        <div class="link d-flex">
          <a
            class=" card-link btn btn-block btn-primary mt-auto"
            href="{% pageurl value.page1 %}"
            >Научи повече
          </a>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="row d-flex justify-content-center">
    <div class="card mb-3 ">
      <img
        style="max-width:250;height:300px"
        class="card-img img-fluid"
        src="holder.js/250x300"
        alt="Card image"
      />
      <div class="card-img-overlay d-flex flex-column justify-content-center">
        <h5 class="card-title">{{ value.heading2 }}</h5>
        <p class="card-text align-self-center">{{ value.text2 }}</p>
        <div class="link d-flex">
          <a
            class=" card-link btn btn-block btn-primary mt-auto"
            href="/задруги/"
            >Научи повече
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
