{% load i18n %}
{% load static wagtailuserbar %}

<div class="card mb-3 border-left-0 border-right-0 border-top-0">
  <div class="card-header bg-transparent border-bottom-0">
    <div class="media">
      <img style="width: 100px" class="mr-3" src="{% static 'media/community-icon.png' %}">
      {% with community=activity.actor.community %}
      <div class="media-body">
        <div>
          <a href="{{ community.get_absolute_url }}">{{ community }}</a>
          {% trans "posted an announcement for" %}
          <a href="{{activity.actor.get_absolute_url }}">{{ activity.actor }}</a>
        </div>
        <div class="text-muted">{{ activity.time|timesince }} ago</div>
      </div>
      {% endwith %}
    </div>
  </div>
  <div class="card-body pl-5">
    <p class="card-text">
      {{ activity.object.text }}
    </p>
  </div>
</div>