{% load i18n %}

<div class="card mb-3">
  <div class="card-header bg-transparent">
    <div class="media">
      <img class="mr-3" src="holder.js/64x64"> 
      {% with legal_entity=activity.actor.legal_entity %}
      <div class="media-body">
        <div>
          <a href="{{ legal_entity.get_absolute_url }}">{{ legal_entity }}</a>
          {% trans "published new report for" %}
          <a href="{{activity.actor.get_absolute_url }}">{{ activity.actor }}</a> 
        </div>
        <div class="text-muted">{{ activity.time|timesince }} ago</div>
      </div>
      {% endwith %}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ activity.object.name }} 
    </h5>
    <p class="card-text">
      {{ activity.object.text }}
    </p>
    <a href="#" class="card-link">{% trans "See all" %}</a>
  </div>
</div>
