<form action="projects/bugreport" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input placeholder="Вашият имейл" name="email" style="font-size: .7rem" class="form-control form-control-sm"
      type="text" required />
  </div>
  <div class="form-group">
    <input placeholder="Въведете съобщение" name="message" style="font-size: .7rem" class="form-control form-control-sm"
      type="text" required />
  </div>
  <input type="submit" style="font-size: .7rem" class="btn btn-sm btn-primary btn-white-solid" value="Извести" />
</form>