{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
{% include 'projects/community_breadcrumb.html' with object=object active="active" only %}
{% endblock %}

{% block admin_tools %}
  <a class="nav-link text-white" href="{% url 'projects:community_photo_update' object.id %}">{% trans "Update photo" %}</a>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:community_update' object.pk %}">{% trans 'Add slack' %}</a>
  </li>
  <a class="nav-link text-white" href="{% url 'projects:community_member_list' object.pk %}">{% trans 'Update members' %}</a>
{% endblock %}

{% block content %}

{% if object.admin == user %}
  {{ block.super }}
{% endif %}

<div class="card mt-3 mx-auto" style="max-width: 720;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if object.photo %}
        <img class="card-img" src="{{ object.photo.get_profile_url }}" alt="{{object.name}}"></img>
      {% else %}
        <a href="{% url 'projects:community_photo_update' object.id %}">{% trans "Add photo" %}</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
      </div>
        <ul class="list-group list-group-flush">
          {% if object.bulstat %}
          <li class="list-group-item">
            {% trans 'Bulstat' %}: {{ object.bulstat }}
          </li>
          {% endif %}
          <li class="list-group-item">
            {% trans 'Email' %}: {{ object.email }}
          </li>
          <li class="list-group-item">
            Телефон: {{ object.phone }}
          </li>
          <li class="list-group-item">
            Администратор: <a href="{{ object.admin.get_absolute_url }}"> {{ object.admin }}</a>
          </li>
          <li class="list-group-item">
            Плащане: {{ object.payment | linebreaks }}
          </li>
          <li class="list-group-item">
            Slack канал : {{ object.slack_channel}}
          </li>
    </div>
</div>

{% endblock %}
