{% load i18n %}
{% include "projects/project_breadcrumb.html" with project=project only %}
<li class="breadcrumb-item {% if list %} {{active}} {% endif %}">
  {% if type == 'time' %}
    <a href="{% url 'projects:time_necessity_list' project.pk %}">
      {% trans 'Volunteers' %}
    </a>
  {% else %}
    <a href="{% url 'projects:thing_necessity_list' project.pk %}">
      {% trans 'Donations' %}
    </a>
  {% endif %}
</li>
{% if details %}
  <li class="breadcrumb-item active"> 
    <a href="{% url 'projects:thing_necessity_list' project.pk %}">
      {{details.name}}
    </a>
  </li>
{% endif %}
{% if not list and not details %}
  <li class="breadcrumb-item {{active}}"> 
    <a href='{% url 'projects:time_necessity_list' project.pk %}'>{% trans 'Update' %}</a>
  </li>
{% endif %}


