{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {% include "projects/necessity_breadcrumb.html" with project=project active="active" type=type only %}
{% endblock %}

{% block content %}
{% if type == 'time' %}
<div>
<ul>
<li>1 Оценете пазарната стойност на труда за всяка позиция.
Тази стойност не ви ангажира с плащане към вложителя - тя служи за отчитането на личен ПРИНОС към вложителя и правото му на ДАР, служи и за определяне на вашия дан към Хородея.</li>
<li>2 Нуждите от доброволен труд се описват като конкретни позиции с начална и крайна дата на ангажимента.</li>
</ul>
</div>
{% endif %}

{% load bootstrap4 %}
{{ formset.media }}
{% bootstrap_messages %}
<form method="post" class="form-inline">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="table-responsive" style="height:70vh;width:100vw">
    {% bootstrap_formset_errors formset %}
    <table class="table table-sm">
    <thead>
    {% with form=formset.0 %}
      <tr>
        {% for field in form.visible_fields %}
          <th scope='col'>{{field.label}}</th>
        {% endfor %}
      </tr>
    {% endwith %}
    </thead>
    {% for form in formset %}
      <tr>
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        <td>
          {% bootstrap_field field layout='inline'  %}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  </div>
  <button type="submit" class="btn btn-primary" name="add-row">{% trans 'Add row' %}</button>
  <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
</form>
{% endblock %}