{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load projects_tags %}
{% load activity_tags %}
{% load bootstrap4 %}

{% block breadcrumbs %}
    {% include "projects/project_breadcrumb.html" with project=object active="active" only %}
{% endblock %}

{% block admin_tools %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:update' project.pk %}">{% trans 'Update' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:report_create' object.pk %}">{% trans 'New report' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:time_necessity_list' object.pk %}">{% trans 'Time necessities' %}</a> </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:thing_necessity_list' object.pk %}">{% trans 'Thing necessities' %}</a>
  </li>
{% endblock %}

{% block content %}
  {% member_of user object.legal_entity_id as admin %}
  {% if admin %}
    {{ block.super }}
  {% endif %}

  <div class="row mt-4">
    <div class="col-md-8">
      <img src="holder.js/640x320"></img>
    </div>
    <div class="col-md-4 mt-4">

      {% include "projects/project_stats.html" with project=object only %}

      <a class="btn btn-primary btn-lg" href="{% url 'projects:time_support_create' object.pk %}">{% trans 'Volunteer' %}</a>
      <a id='apply-btn' class="btn btn-primary btn-lg" href="#donate">{% trans 'Donate' %}</a>
      <a class="btn btn-link" href="{% url 'projects:follow_project' object.pk %}">{% trans 'Follow' %}</a>

    </div>
  </div>
  <div class="row mt-1">
    <h3>
      {{ object.name }}
      <small>
        <a href="{{ project.legal_entity.get_absolute_url }}">{{project.legal_entity}}</a>
      </small>
    </h3>
  </div>

	<div class="row">
    <div class="body">
        <h5>{{ object.description }}</h5>

        <div class="accordion" id="shortLongText">
        <div class="collapse show" id="shortText" data-parent="#shortLongText" >
        {{ object.text|linebreaks|truncatewords_html:50 }}
        {% if object.text|length > 50 %}
        <a class='btn btn-link' data-toggle="collapse"href="#fullText">{% trans 'Show more' %}</a>

        {% endif %}
        </div>
        <div class="collapse" id="fullText" data-parent="#shortLongText">
          {{ object.text|linebreaks}}
          <a class='btn btn-link' data-toggle="collapse" href="#shortText">{% trans 'Show less' %}</a>
        </div>
      </div>
    </div>
	</div>

  <div id="volunteer" class='text-center'>
    {% with object.timenecessity_set.all as necessity_list %}
    <h4>{% trans 'Time necessities' %}</h4>
    <ul class="list-group list-group-horizontal list-group-flush justify-content-center">
      {% for necessity in necessity_list %}
      <li class="list-group-item">
        {{necessity.count}} {{necessity.name}}

      </li>
      {% endfor %}
    </ul>
    {% endwith %}
    <a class="btn btn-primary btn-lg mt-3" href="{% url 'projects:time_support_create' object.pk %}">{% trans 'Volunteer' %}</a>
  </div>

  <div id="donate" class="mt-3 text-center">
    {% with object.thingnecessity_set.all as necessity_list %}
    <h4>{% trans 'Thing necessities' %}</h4>
    <ul class="list-group list-group-horizontal list-group-flush justify-content-center">
      {% for necessity in necessity_list %}
      <li class="list-group-item">
        {{necessity.count}} {{necessity.name}}

      </li>
      {% endfor %}
    </ul>
    {% endwith %}

    <a class="btn btn-primary btn-lg mt-3" href="{% url 'projects:thing_necessity_list' object.pk %}">{% trans 'Donate' %}</a>
  </div>

  <h3>{% trans 'Announcements' %}</h3>
  {% if admin %}
  <form method="post" class="form" action="{% url 'projects:announcement_create' object.pk %}" >
    {% csrf_token %}
    {% bootstrap_form announcement_form layout='inline'%}
    {% buttons %}
    <button type="submit" class="btn btn-success">{% trans 'Publish' %}</button>
    {% endbuttons %}
  </form>
  {% endif %}

  {% for activity in timeline %}
    {% render_activity activity %}
  {% endfor %}

{% endblock %}
