{% load i18n %} {% load projects_tags %}

<div>
  <div class="">
    {% blocktrans with fulfilled=project.time_fulfilled needed=project.time_needed %} Набрани <strong>{{fulfilled}}</strong> от
     <strong>{{needed}}</strong> вложители на труд 
    {% endblocktrans %}
  </div>
  <div class="progress">
    <div
      class="progress-bar bg-secondary rounded-sm"
      role="progressbar"
      style="width:{{ project.time_support_percent }}%"
    ></div>
  </div>

  {% if not short %} {% if admin %}
  <a
    class="btn btn-primary mt-3"
    href="{% url 'projects:time_necessity_list' project.pk %}"
    >{% trans 'See applications' %}</a
  >
  <a
    class="btn btn-primary mt-3"
    href="{% url 'projects:time_necessity_update' project.pk %}"
    >{% trans 'Update volunteer types' %}</a
  >
  {% else %}
    {%if project.time_still_needed is not 0 %}
    <a
    class="btn btn-primary mt-3"
    href="{% url 'projects:time_support_create' project.pk %}"
    >{% trans 'Volunteer' %}</a>
    {%else%}
    <h6>{% trans 'No volunteers needed' %}</h6>
    {%endif%}
  {% endif %} 
  {% else %}
  <hr />
  {% endif %}

  <div class="{% if short %} mt-1 {% else %} mt-5 {% endif %}">
    {% blocktrans with collected=project.money_support|leva needed=project.money_needed|leva %} Събрани
    <strong>{{collected}}</strong> от <strong>{{needed}}</strong>
    {% endblocktrans %}
  </div>
  <div class="progress">
    <div
      class="progress-bar bg-secondary rounded-sm"
      role="progressbar"
      style="width:{{ project.money_support_percent }}%"
    ></div>
  </div>

  {% if not short %} {% if admin %}
  <a
    class="btn btn-primary mt-3"
    href="{% url 'projects:thing_necessity_list' project.pk %}"
    >{% trans 'See donations' %}</a
  >
  <a
    class="btn btn-primary mt-3"
    href="{% url 'projects:thing_necessity_update' project.pk %}"
    >{% trans 'Update necessities' %}</a
  >
  {% else %}
  <!-- Button to Open the Modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#myModal"
    style="margin-top:10px"
  >
    Дари средства
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Парично дарение</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <a
            class="btn btn-primary mt-3"
            href="{% url 'projects:money_support_create' project.pk %}?supportertype=donator"
            >{% trans 'Support as donator' %}</a
          >
          <a
            class="btn btn-primary mt-3"
            href="{% url 'projects:money_support_create' project.pk %}?supportertype=legalentitydonator"
            >{% trans 'Support as legalentity' %}</a
          >
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Затвори
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
   {% endif %}
</div>