{% load i18n %}
{% load projects_tags %}

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:{{ project.money_support_percent }}%"></div>
</div>
<div>
{% blocktrans with collected=project.money_support needed=project.money_needed|leva %}
<strong>{{collected}}</strong> out of <strong>{{needed}}</strong>
{% endblocktrans %}
</div>

<hr>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:{{ project.thing_support_percent }}%"></div>
</div>
<div>
{% blocktrans with fulfilled=project.things_fulfilled needed=project.things_needed %}
<strong>{{fulfilled}}</strong> out of <strong>{{needed}}</strong> things 
{% endblocktrans %}
</div>

<hr>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:{{ project.time_support_percent }}%"></div>
</div>
<div>
{% blocktrans with fulfilled=project.time_fulfilled needed=project.time_needed %}
<strong>{{fulfilled}}</strong> out of <strong>{{needed}}</strong> volunteers
{% endblocktrans %}
</div>

{% if short %}
{% else %}
{% endif %}
</p>
{% if not short %}
<p>{% trans 'End date' %}: {{ project.end_date }}
{% comment %}<a href="{% url 'projects:report_list' project.pk %}">{% trans 'Reports' %}</a> {% endcomment %}
</p>
{% endif %}
