{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
{% include "projects/project_breadcrumb.html" with project=project only %}
<li class="breadcrumb-item">
    <a href="{% url 'projects:time_necessity_list' project.pk %}">
      {% trans 'Volunteers' %}
    </a>
</li>
<li class="breadcrumb-item active">
  {% trans 'Update questions' %}
</li>
{% endblock %}

{% block content %}
{% load bootstrap4 %}
{{ formset.media }}
{% bootstrap_messages %}
<form method="post" class="form-inline">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="table-responsive">
  {%if error_message%}
  <div class="alert alert-danger alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>{{error_message}}</div>
  {% endif %}
    {% bootstrap_formset_errors formset %}
    <table class="table table-sm">
    <thead>
    {% with form=formset.0 %}
      <tr>
        <td>
        </td>
        {% comment %} {% for field in form.visible_fields %}
        {% if field.name != 'ORDER' %}
          <th scope='col'> {{field.label}}</th>
        {% endif %}
        {% endfor %} {% endcomment %}
        <th scope='col'>Категория</th>
        <th scope='col'>Описание</th>
        <th scope='col'>Задължително</th>
        <th scope='col'>Изтрий</th>

        <td>
        </td>
      </tr>
    {% endwith %}
    </thead>
    <tbody id="table_body">
    {% for form in formset %}
      <tr>
        <td class="sort-handle">
          <i class="fa fa-arrows-v fa-2x"></i>
        </td>
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        {% if field.name == 'ORDER' %}
          {{ field.as_hidden }}
        {% elif field.name == 'DELETE' and form.instance.pk == None %}
          {{ field.as_hidden }}
        {% else %}
        <td>
          {% bootstrap_field field layout='inline'  %}
        </td>
        {% endif %}
      {% endfor %}
        {% if not form.instance.prototype %} 
        <td>
          <a class="delete_action btn btn-danger" href="#">{% trans "Delete" %}</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </>
  {% buttons %}
  <a class="btn btn-outline-primary mr-2" href="#" id="add_more">{% trans 'Add row' %}</a>
  <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
  {% endbuttons %}
  <div style="display:none">
    {% with form=formset.empty_form %}
    <table>
      <tbody id="empty_form" >
      <tr>
        <td class="sort-handle">
          <i class="fa fa-arrows-v fa-2x"></i>
        </td>
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        {% if field.name == 'DELETE' or field.name == 'ORDER' %}
          {{ field.as_hidden }}
        {% else %}
        <td>
            {% bootstrap_field field layout='inline'  %}
        </td>
        {% endif %}
      {% endfor %}

        <td>
          <a class="delete_action btn btn-danger" href="#">{% trans "Delete" %}</a>
        </td>

      </tr>
      </tbody>
    </table>
      {% endwith %}
  </div>
</form>

<script>

    $('#add_more').click(function() {
        event.preventDefault();
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('.table tr:last').after($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $('.delete_action').click(delete_action);
      var total_forms = parseInt(form_idx) + 1;
        $('#id_form-TOTAL_FORMS').val(total_forms);
        $('.table tr:last').find('input[id$=ORDER]').val(total_forms);
    });
    function delete_action() {
        event.preventDefault();
      var total_forms = $('#id_form-TOTAL_FORMS').val();
      console.log($(this).parent().parent())
      console.log($(this).parent().parent())
      $(this).parent().parent().remove()
      $('#id_form-TOTAL_FORMS').val(parseInt(total_forms) - 1);
    }
    $('.delete_action').click(delete_action);

  $('#table_body').sortable({
    handle: '.sort-handle',
    update: function() {
      console.log(this);
      $(this).find('tr').each(function(i) {
        console.log(this);
        $(this).find('input[id$=ORDER]').val(i+1);
      });
    }
  });

</script>

{% endblock %}