{% extends "base.html" %}
{% load i18n %}
{% load projects_tags %}

{% block breadcrumbs %}
    {% include "projects/report_breadcrumb.html" with project=project report=report active="active" only %}
{% endblock %}

{% block admin_tools %}
  <li class="nav-item">
    <a href="{% url 'projects:report_create' project=project.pk %}" class="btn btn-success">{% trans 'Add new report' %}</a>
  </li>
{% endblock %}

{% block content %}

{% if project.community.admin.pk == user.pk %}
  {{ block.super }}
{% endif %}

<h2>
  {% trans 'Reports' %}
  {% trans 'for' %}
  {{project.name}}
</h2>

{% with admin_pk=project.community.admin.pk %}
{% if admin_pk == user.pk and unpublished_reports %}
<div class="card">
  <div class="card-header">
    {% trans 'Unpublished' %}
  </div>
  <ul class="list-group list-group-flush">
  {% for report in unpublished_reports %}
    <li class="list-group-item">
      <a href="{% url 'projects:report_details' report.pk %}">{{ report }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}

<div class="row">
  <ul>
  {% for report in reports %}
    <li>
      <a href="{% url 'projects:report_details' report.pk %}">{{ report }}</a>
      {% vote_exists report user.pk as voted%}
      {% if voted %}
        <span>Гласувано</span>
      {% else %}
        <span>Прочети и гласувай</span>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
