{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {% include "projects/report_breadcrumb.html" with report=object project=report.project active="active" only %}
{% endblock %}

{% comment %} {% block admin_tools %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'projects:report_update' object.pk %}">Редактирай</a>
  </li>
{% endblock %} {% endcomment %}

{% block content %}

{% if object.project.community.admin.pk == user.pk %}
  {{ block.super }}
{% endif %}

<h2>
  {{object.name}}
</h2>

<p>{{ object.text }}</p>
<p>{{ object.published_at }}</p>

<a class="btn {{vote_up_classes}}" href="{% url 'projects:report_vote_up' object.pk %}">
    <i class="fa fa-thumbs-o-up"></i>
    <span class="badge">{{votes_up}}</span>
</a>
<a class="btn {{vote_down_classes}}" href="{% url 'projects:report_vote_down' object.pk %}">
    <i class="fa fa-thumbs-o-down"></i>
    <span class="badge">{{votes_down}}</span>
</a>

{% endblock %}
