{% extends "base.html" %}

{% load i18n %}
{% load projects_tags %}

{% block breadcrumbs %}
    {% include "projects/support_breadcrumb.html" with project=project active="active" only %}
{% endblock %}

{% block content %}
<h2>
  {% trans 'Support' %}
  {% trans 'for' %}
  {{ project.name }}
</h2>

<ul class="list-group">
{% for money_support in money_support_list %}
  <a href="{% url 'projects:money_support_details' money_support.pk %}" class="list-group-item list-group-item-action">
    {{money_support.leva | leva}} от
    {{money_support.user.first_name}}
  </a>
{% endfor %}
</ul>

<ul class="list-group">
{% for time_support in time_support_list %}
  <a href="{% url 'projects:time_support_details' time_support.pk %}" class="list-group-item list-group-item-action">
    {{time_support.duration}} от
    {{time_support.user.first_name}}
  </a>
{% endfor %}
</ul>


{% endblock %}
