{% extends "base.html" %}

{% load projects_tags %}

{% block content %}
{% with admin=object.project.legal_entity.admin %}

<p>
  {% if object.get_type == 'm' %}
    <strong>{{object.leva | leva}}</strong> от
  {% else %}
    <strong>{{object.duration }} </strong> от
  {% endif %}
  <a href="{% url 'account' %}"> {{object.user}}</a>
{% if object.user == user %} 
  {% if object.accepted == None %}
  <a class="btn btn-primary" href="{% url 'projects:msupport_update' object.pk %}">Промени</a>
  <a class="btn btn-danger" href="{% url 'projects:support_delete' object.pk 'm' %}">Изтрий</a>
  {% endif %}
{% endif %}

{% if object.expired %}
  <span class='text-warning'>Изтекла на {{object.delivery_expires}}</span>
{% elif object.delivered %}
  <span class='text-success'>Получена</span>
{% elif object.accepted %}
  <span class='text-success'>Приета</span>
  <span class='text-warning'>Изчаква получаване</span>
{% elif object.accepted == False%}
  <span class='text-warning'>Отказана</span>
{% else %}
  <span class='text-warning'>Изчаква приемане</span>
{% endif %}

{% if admin == user %}
  {% if object.accepted == None %}
    <a class="btn btn-primary" href="{% url 'projects:support_accept' object.pk 'm' %}">Приеми</a>
    <a class="btn btn-warning" href="{% url 'projects:support_decline' object.pk 'm' %}">Откажи</a>
  {% elif object.accepted == False %}
    <span class='text-warning'>Отказана</span>
  {% else %}
    {% if object.expired %}
    {% elif not object.delivered %}
      <a class="btn btn-primary" href="{% url 'projects:support_delivered' object.pk 'm' %}">Отбележи като получена</a>
      Изтича на {{object.delivery_expires}}
    {% else %}
      <span class='text-success'>Получена</span>
    {% endif %}
  {% endif %}
{% endif %}
</p>

{% endwith %}
{% endblock %}
