{% extends "base.html" %}

{% load projects_tags %}

{% block breadcrumbs %}
    {% include "projects/support_breadcrumb.html" with project=object.project support=object active="active" only %}
{% endblock %}

{% block admin_tools %}
  {% if object.accepted == None %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'projects:support_accept' object.pk 'm' %}">Приеми</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'projects:support_decline' object.pk 'm' %}">Откажи</a>
    </li>
  {% elif object.accepted == False %}
    <span class='text-warning'>Отказана</span>
  {% else %}
    {% if object.expired %}
    {% elif not object.delivered %}
      <a class="btn btn-primary" href="{% url 'projects:support_delivered' object.pk 'm' %}">Отбележи като получена</a>
      Изтича на {{object.delivery_expires}}
    {% else %}
      <span class='text-success'>Получена</span>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
{% if object.project.legal_entity.admin == user %}
  {{ block.super }}
{% endif %}

<p class="mt-3 text-center">
  {% if object.get_type == 'm' %}
    <strong>{{object.leva | leva}}</strong> от
  {% else %}
    <strong>{{object.duration }} </strong> от
  {% endif %}
  <a href="{{ object.user.get_absolute_url }}"> {{object.user}}</a>
{% if object.user == user %} 
  {% if object.accepted == None %}
  <a class="btn btn-primary" href="{% url 'projects:msupport_update' object.pk %}">Промени</a>
  <a class="btn btn-danger" href="{% url 'projects:support_delete' object.pk 'm' %}">Изтрий</a>
  {% endif %}
{% endif %}

{% if object.expired %}
  <span class='text-warning'>Изтекла на {{object.delivery_expires}}</span>
{% elif object.delivered %}
  <span class='text-success'>Получена</span>
{% elif object.accepted %}
  <span class='text-success'>Приета</span>
  <span class='text-warning'>Изчаква получаване</span>
{% elif object.accepted == False%}
  <span class='text-warning'>Отказана</span>
{% else %}
  <span class='text-warning'>Изчаква приемане</span>
{% endif %}

</p>

{% endblock %}
