{% extends "form.html" %}

{% load i18n %}

{% block savetext %}
  {% trans 'Donate now' %}</button>
{% endblock %}

{% block delete %}
  {% if type == 'time' %}
    {% with delete_label='projects:timesupport_delete' %}
      {{ block.super }}
    {% endwith %}
  {% else%}
    {% with delete_label='projects:moneysupport_delete' %}
      {{ block.super }}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {% include "projects/project_breadcrumb.html" with project=project only %}
  <li class="breadcrumb-item active">
    {% trans 'Donate' %}
  </li>
    
{% endblock %}

{% block content %}

  {% if object.get_type == 'time' %}
    {% include "projects/timenecessity_detail_fragment.html" with object=object.necessity table=True headings=True %}
  {% else %}
    {% include "projects/thingnecessity_list_fragment.html" with necessity_list=project.thingnecessity_set.all %}
  {% endif %}
  <div class="mt-5">
    {{ block.super }}
  </div>
{% endblock %}
