{% load projects_tags %}
{% load i18n %}
{% load humanize %}

  {% if object.get_type == 'time' %}
    {% include "projects/timenecessity_detail_fragment.html" with object=object.necessity table=True headings=True %}
  {% else %}
    {% if object.necessity %}
      {% include "projects/thingnecessity_detail_fragment.html" with object=object.necessity table=True headings=True %}
    {% endif %}
  {% endif %}


<div class="card mt-3 mx-auto" style="max-width: 720;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-{{ object.status|status_color}}">
        {% trans "Status" %}: {{ object.status|status_text|upper }}
      </li>
      <li class="list-group-item">
        {% trans "Since" %}: {{ object.status_since }} ({{object.status_since|naturaltime}})
      </li>
      <li class="list-group-item">
        {% if object.type == 'time' %}
          {% trans "Volunteer" %}: 
        {% else %}
          {% trans "Donor" %}: 
        {% endif %}
        {{ object.user }} <a href="{{ object.user.get_absolute_url }}">{% trans 'See profile' %}</a>
      </li>
           <li class="list-group-item">
        {% trans "Email" %}: {{ object.user.email }}
      </li>

      <li class="list-group-item">
        {% trans "Comment" %}:<br> {{ object.comment }}
      </li>


    </ul>
  </div>
</div>
