{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    {% include "projects/support_breadcrumb.html" with project=project active="active" only %}
{% endblock %}

{% block content %}
<h2 class="text-center">{% trans 'Support' %} {{ project }}</h2>
<div class="mt-3 card-deck mx-auto" style="max-width: 560px">
  <div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{% trans 'Time support' %}</h5>
      <p class="card-text">
      {% blocktrans %}
        Support the project with your time
      {% endblocktrans %}
      </p>
      <a class="btn btn-primary stretched-link" href="{% url 'projects:tsupport_create' project.pk %}">{% trans 'Time support' %}</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{% trans 'Money support' %}</h5>
      <p class="card-text">
      {% blocktrans %}
        Support the project with your money
      {% endblocktrans %}
      </p>
      <a class="btn btn-primary stretched-link" href="{% url 'projects:msupport_create' project.pk %}">{% trans 'Money support' %}</a>
    </div>
  </div>
</div>

{% endblock %}
