{% load i18n %}

<div class="table-responsive">
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope='col'>{% trans 'Name' %}</th>
      <th scope='col'>{% trans 'Description' %}</th>
      <th scope='col'>{% trans 'Price' %}</th>
      <th scope='col'>{% trans 'Count' %}</th>
      {% if member %}
        <th scope='col'>{% trans 'Candidates' %}</th>
      {% endif %}
    </tr>
  </thead>
  {% for necessity in necessity_list %}
    <tr>
      <td>{{necessity.name}}</td>
      <td>{{necessity.description}}</td>
      <td>{{necessity.price}}</td>
      <td>{{necessity.accepted_support}}/{{necessity.count}}</td>
      {% if member %}
        <td>{{necessity.support_candidates}}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
</div>
