{% load i18n %}

<div class="table-responsive">
  <table class="table table-sm">

  {% include "projects/thingnecessity_detail_fragment.html" with headings=True headings_only=True %}

  {% for necessity in necessity_list %}
    {% include "projects/thingnecessity_detail_fragment.html" with object=necessity support_action=support_action %}
  {% endfor %}
  </table>
  <div class="text-center">
    <a class="btn btn-primary" href="{% url 'projects:money_support_create' project.pk %}">{% trans "Donate" %}</a>
  </div>
</div>
