{% load i18n %}

{% if table %}
  <table class="table table-sm">
{% endif %}

{% if headings %}
  <thead>
    <tr>
      <th scope='col'>{% trans 'Name' %}</th>
      <th scope='col'>{% trans 'Description' %}</th>
      <th scope='col'>{% trans 'Price' %}</th>
      <th scope='col'>{% trans 'Collected' %}</th>
    </tr>
  </thead>
{% endif %}

{% if not headings_only %}
<tr>
      <td>{{object.name}}</td>
      <td>{{object.description}}</td>
      <td>{{object.count}} x {{object.price}}</td>
      <td>

        {{object.accepted_money_support_leva}}/{{object.total_price}}</td>

</tr>
{% endif %}

{% if table %}
  </table>
{% endif %}

{% if list_candidates %}
  {% for support in object.supports.all %}
    {% include "projects/support_detail_fragment.html" with object=support user=user only %}
  {% endfor %}
  {% for support in object.money_supports.all %}
    {% include "projects/support_detail_fragment.html" with object=support user=user only %}
  {% endfor %}

{% endif %}

