{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load projects_tags %}

{% block breadcrumbs %}
    {% include "projects/necessity_breadcrumb.html" with project=project list=True active="active" type='time' only %}
{% endblock %}

{% block admin_tools %}
  <li class="nav-item">
    <a href="{% url 'projects:time_necessity_update' project_id=project.pk %}" class="btn btn-success">{% trans 'Update' %}</a>
  </li>
{% endblock %}

{% block content %}
{% if project.community.admin.pk == user.pk %}
  {{ block.super }}
{% endif %}

  {% include "projects/timenecessity_list_fragment.html" with necessity_list=necessity_list member=member only%}

  <div class="text-center">
    <h4>{% trans 'Applications' %}</h4>
  </div>

  {% include 'projects/support_list_fragment.html' with support_list=project.recent_time_support type='time'%}

{% endblock %}
