{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block breadcrumbs %}
    {% include "projects/project_breadcrumb.html" with project=project only %}

  <li class="breadcrumb-item active">
    <a href="">
      {% if update %}
        {% trans 'Update volunteer application' %}
      {% else %}
        {% trans 'Apply as a volunteer' %}
      {% endif %}
    </a>
  </li>

{% endblock %}


{% block content %}

<h4 class="mb-5">
  {% blocktrans with cause=project.name community=project.community %}
 Apply as a volunteer for the cause {{cause}} from {{community}}
  {% endblocktrans %}
</h4>
{%if form.visible_fields%}
{{ formset.media }}
<form method="post" class="form">
  {% csrf_token %}
  {{ formset.management_form }}
  {% bootstrap_formset_errors formset %}


  {% for field in form.visible_fields %}
    {% if field.name == 'necessities' %}
      <div class="form-group">
        <label for="necessities">{{ field.label }}</label>
        {% include "projects/time_support_types_fragment.html" %}
      </div>

    {% else %}
     <div readonly> {% bootstrap_field field  %}</div>  
    {% endif %}
  {% endfor %}
   {% if update %}
      {% comment %} {% trans 'Update' %} {% endcomment %}
    {% else %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
      {% trans 'Apply' %}
  </button>
  {% endbuttons %}
   {% endif %}
</form>
{%endif%}
{%endblock%}