{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'account' account.pk %}">
      {% trans "Account" %}
    </a>
  </li>
  <li class="breadcrumb-item active">
    {% if type == 'time' %}
      {% trans "Volunteering" %}
    {% else %}
      {% trans "Donations" %}
    {% endif %}
  </li>

{% endblock %}

{% block content %}

  <div class="text-center">
    <h4>
      {% if type == 'time' %}
        {% blocktrans with name=account.first_name %}
          {{name}}'s volunteering
        {% endblocktrans %}
      {% else %}
        {% blocktrans with name=account.first_name%}
          {{name}}'s donations 
        {% endblocktrans %}
      {% endif%}
    </h4>
  </div>

  {% include 'projects/support_list_fragment.html' %}

{% endblock %}
