{% for activity in notifications %}
<a class="list-group-item list-group-item-action {% if not activity.is_seen %} list-group-item-primary {% endif %}" style="min-width:300px" href="{% url "projects:report_list" activity.activities.0.actor.pk %}">
{% load i18n %}
  {% with one_activity=activity.activities.0 %}
    {% with legal_entity=one_activity.actor.legal_entity %}
    <h6><strong>{{ legal_entity }}</strong>
      {% blocktrans with activity_count=activity.activity_count action=one_activity.verb %}
        published {{activity_count}} {{action}} for
      {% endblocktrans %}
      <strong>{{ one_activity.actor }}</strong> </h6>
    {% endwith %}
    <h6 class="text-muted">{{ one_activity.time|timesince }} ago</h6>
{% endwith %}
</a>
{% endfor %}
