.breadcrumb-item.active a {
  pointer-events: none;
  cursor: default;
  color: #6c757d;
}
.navbar-nav a {
  font-size: 13px;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 0.6rem;
}

.footer h6 {
  text-transform: uppercase;
}

.footer a.list-group-item {
  background-color: transparent;
}

.footer a.list-group-item.active {
  color: #000;
}

.dark-links, .dark-links:hover {
  color: #000000;
}

.jumbotron-bg-cover {
  background-image: url("/static/media/horodeya-home-heroshot.jpg");
}

.jumbotron {
  margin-bottom: 0;
}

/* Header Parallax Element Style*/
.paral {
  min-height: 400px;
  background-attachment: fixed;
  background-size: contain;
  background-position: 50% 50%;
}

.breadcrumb {
  background-color: transparent;
}

.navbar-brand {
  margin-left: 1rem;
}

.nav-link-logo {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
}

.logo {
  height: 60px;
}

.nav-link.active {
  text-decoration: underline;
}

.action-img {
  max-height: 250px;
  object-fit: cover;
}

.activity-img {
  max-height: 64px;
}

.dropdown-toggle:after {
  content: none;
}

.admin-panel {
  padding-top: 3.5rem;
}

.hidden {
  display: none;
}

.required label:after {
  content: " *";
  color: red;
}

.footer-titles {
  padding-top: .75rem;
}

.no-border {
  border: none;
}

.footer-background {
  background-color: #39d279;
}

.footer-background a, .footer-background p, .footer-background h6, .footer-background small {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #39d279;
  border-color: #39d279;
}

.btn-white-solid {
  color: #39d279;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  padding: 2px 20px;
}
/*39d279*/
/*f2f2f2*/

